@use '../../../base/styles/themes/variables' as *;

// layout variables
$split-btn-border-radius: $radius-20 !default;
$split-btn-topleft-border-radius: $radius-4 !default;
$split-btn-sm-border-radius: $radius-16 !default;
$split-btn-la-border-radius: $radius-24 !default;
$split-btn-gap: $spacing-2 !default;
$split-btn-focus-outline-offset: 0 !default;

// Layout variables for .sf-dropdown-btn
$split-btn-sm-active-border-radius: $radius-16 !default;
$split-btn-la-active-border-radius: $radius-24 !default;
$split-btn-dropdown-padding-sm: $spacing-0 $spacing-10 !default;
$split-btn-dropdown-padding-me: $spacing-0 $spacing-14 !default;
$split-btn-dropdown-padding-la: $spacing-0 $spacing-16 !default;