@use 'theme-variables' as *;
@include export-module('datepicker-layout') {

  .sf-datepicker.sf-popup {
    display: flex;
    box-shadow: $dp-box-shadow;
    border-radius: $dp-border-radius;
    overflow-y: hidden;
    pointer-events: auto;
  }

  .sf-picker-popup {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    max-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;
  
    .sf-overlay {
      position: absolute;
    }
  }
}