@use '../../../base/styles/themes/variables' as *;

$recurrence-editor-spacing-4: $spacing-4 !default;
$recurrence-editor-spacing-16: $spacing-16 !default;
$recurrence-editor-spacing-12: $spacing-12 !default;
$recurrence-editor-week-button-size: $spacing-40 !default;